<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
</html><!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <!-- import CSS -->
  <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
  <!-- import Vue before Element -->
  <script src="https://unpkg.com/vue@2/dist/vue.js"></script>
  <!-- import JavaScript -->
  <script src="https://unpkg.com/element-ui/lib/index.js"></script>

  <!--MarkDown-->
  <script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>

  <script src="js/axios-0.18.0.js"></script>


  <!-- import JQuery -->
  <script src="https://cdn.staticfile.org/jquery/1.10.2/jquery.min.js"></script>
  <style>

    .el-header{

    color: #333;
    text-align: center;
    line-height: 60px;
  }


  .el-footer
   {

      padding:0px;
      margin-bottom:50px;
      margin-left:100px;
      margin-right:100px;

   }



  .el-aside {
    background-color: white;
    color: #333;
    text-align: center;
    line-height: 200px;
  }

  .el-main {
    background-color: white;
    color: #333;
    text-align: center;
    line-height: 80px;
    margin-top:100px;
    margin-left:100px;
    margin-right:100px;
    margin-bottom:50px;
  }

  body{
        margin-left:50px;
        margin-right:50px;
        margin-bottom:50px;
        background-color:blue;


        background-repeat:no-repeat;
        background-attachment:fixed;
        background-size:100% 100%;
      }

  .el-container:nth-child(5) .el-aside,
  .el-container:nth-child(6) .el-aside {
    line-height: 260px;
  }

  .el-container:nth-child(7) .el-aside {
    line-height: 320px;
  }
  p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
       word-break: break-word;
    line-height: 1.6;
    text-align:left;
}


</style>





  <style>

    .blog-container{
        padding:50px;
    }


    .user-name,.sub-comment-commentor-info,.sub-comment-commentee-info{
      cursor:pointer;

      }

    .comment-box{
        border-style:solid;
        border-color:red;
        border-width:0px;
        border-radius:10px;





    }


  </style>

  <link rel="stylesheet" href="css/rowcol.css">
  <link rel="stylesheet" href="css/footer.css">
</head>
<body background="img/demo-1-bg.jpg">
<div id="app">
  <el-container>
    <el-header>
      <div id="navigation-bar">

        <el-menu
                :default-active="activeIndex"
                class="el-menu-demo"
                mode="horizontal"
                @select="handleSelect"
                background-color="#545c64"
                text-color="#fff"
                active-text-color="#ffd04b">
          <el-menu-item index="1" @click="backToMainPage">首页</el-menu-item>
          <el-menu-item index="2" @click="accessPersonalPage">个人主页</el-menu-item>
          <el-menu-item index="3" @click="logout">退出登录</el-menu-item>
        </el-menu>
      </div>
    </el-header>
    <el-main>
      <div class="blog-container" >
        <div class="blog-title">
          <span>
            {{blog.title}}
          </span>
        </div>
        <div class="blog-content" id="content">

        </div>
        <div class="like-this-blog">
          <el-row>


            <el-button type="success" plain @click="like(blog,0)">
              <font size="2"><b>{{blog.likes}}</b></font>
              <i class="el-icon-thumb"></i>
              点赞
            </el-button>
          </el-row>
        </div>
      </div>
      <el-divider></el-divider>
      <div id="comment-container">

        <div class="comment-box">
          <el-row :gutter="20" style="margin:50px">
            <el-col :span="2" style="margin-top:20px">
              <div class="grid-content bg-purple" >
                <div class="comment-box-avatar">
                  <el-row class="demo-avatar demo-basic" >
                    <el-col :span="3" >
                      <div class="demo-basic--circle">
                        <div class="block"><el-avatar :size="50" :src="user.avatar" ></el-avatar></div>
                      </div>
                    </el-col>

                  </el-row>
                </div>
              </div>
            </el-col>
            <el-col :span="16">
              <div class="grid-content bg-purple">
                <div class="comment-box-warp">
                  <el-input
                          type="textarea"
                          :rows="2"
                          placeholder="请输入内容"
                          v-model="textareaToBlog">
                  </el-input>
                </div>
              </div>
            </el-col>
            <el-col :span="3">
              <div class="grid-content bg-purple">
                <div class="comment-box-send">
                  <el-button type="primary" @click="send()">发布</el-button>
                </div>
              </div>
            </el-col>
          </el-row>



        </div>

        <el-divider></el-divider>
        <div  class="comment-info-container">
          <el-row :gutter="20">
            <el-col :span="3"><div class="grid-content bg-purple"><font size="4"><b>评论</b></b></font></div></el-col>
            <el-col :span="3"><div class="grid-content bg-purple"><font size="4"><b>{{this.blog.comment}}条</b></b></font></div></el-col>
          </el-row>

        </div>
        <div class="reply-box">
          <el-dialog
                  title=""
                  :visible.sync="dialogVisible"
                  width="30%"
                  :before-close="handleClose">
                                <span>
                                  <div class="reply-info">
                                    <el-row>

                                      <el-col :span="3"><div class="grid-content bg-purple">
                                        <font size="3"><b>回复</b></b></font>
                                      </div></el-col>

                                      <el-col :span="10" style="text-align:left"><div class="grid-content bg-purple">
                                        <font size="3"><b>{{this.commentee.name}}:</b></b></font>

                                      </div></el-col>

                                    </el-row>
                                  </div>

                                  <div class="comment-box-warp">
                                    <el-input
                                            type="textarea"
                                            :rows="2"
                                            placeholder="请输入内容"
                                            v-model="textareaToComment">
                                    </el-input>
                                  </div>

                                </span>
            <span slot="footer" class="dialog-footer">
                                  <el-button @click="dialogVisible = false">取 消</el-button>
                                  <el-button type="primary" @click="reply">确 定</el-button>
                                </span>
          </el-dialog>
        </div>
        <div class="comment-list">

          <div class="comment-item" style="margin:80px;border-style:solid;border-width:2px;border-color:white;padding:50px"  v-for="comment in comments" v-if="comment.uid!=''">
            <div class="root-comment-container">
              <el-row :gutter="20">
                <el-col :span="3"><div class="grid-content bg-purple">
                  <div class="root-comment-avatar" style="margin-top:10px">
                    <el-row class="demo-avatar demo-basic">
                      <el-col :span="5">
                        <div class="demo-basic--circle">
                          <div class="block"><el-avatar :size="60" :src="comment.commentorInfo.avatar"></el-avatar></div>
                        </div>
                      </el-col>
                    </el-row>
                  </div>
                </div></el-col>
                <el-col :span="18"><div class="grid-content bg-purple">
                  <div class="content-warp" >
                    <div class="user-info" style="text-align:left">
                      <div class="user-name" @click="access(comment.commentorInfo.account)">

                        <font size="6"><b>{{comment.commentorInfo.username}}</b></b></font>


                      </div>
                    </div>
                    <div class="root-comment">
                      <div class="comment-content-container" style="margin:10px">
                        <span>
                          <p>{{comment.content}}</p>

                        </span>
                      </div>
                      <div class="comment-info">
                        <el-row :gutter="20">
                          <el-col :span="6"><div class="grid-content bg-purple">
                            <span class="comment-time">{{comment.time}}</span>
                          </div></el-col>
                          <el-col :span="5"><div class="grid-content bg-purple">
                            <span class="comment-like">

                              <span>
                                <font size="3"><b>{{comment.likes}}</b></b></font>

                                <el-button type="text" @click="like(comment,1)"><font size="3"><b>点赞</b></b></font></el-button>
                              </span>
                            </span>
                          </div></el-col>
                          <el-col :span="3"><div class="grid-content bg-purple">
                            <span class="sub-comment-button" >
                                <el-button type="text" @click="callReplyBox(comment.uid,comment.commentorInfo)"><font size="3"><b>回复</b></b></font></el-button>


                            </span>
                          </div></el-col>
                        </el-row>



                      </div>
                    </div>
                  </div>
                </div></el-col>
              </el-row>


            </div>

            <div class="see-sub-comment" style="margin-left:120px;margin-right:120px">
              <el-collapse @change="getSubComments(1,comment.uid)">
                <el-collapse-item title="点击查看评论">
                  <div class="sub-comment-container">
                    <div class="sub-comment-list" >
                      <div class="sub-comment-item"  v-for="subComment in comment.subComments" style="margin:40px;border-style:solid;border-width:2px;border-color:grey;padding:10px">
                        <div class="sub-comment-commnetorcommentee-info">

                          <el-row>
                            <el-col :span="4"><div class="grid-content bg-purple">
                              <div class="sub-comment-commentor-info" @click="access(subComment.commentorInfo.account)">
                                <font size="2"><b>{{subComment.commentorInfo.username}}</b></b></font>
                              </div>

                            </div></el-col>

                            <el-col :span="4"><div class="grid-content bg-purple">
                              回复
                            </div></el-col>

                            <el-col :span="4"><div class="grid-content bg-purple">
                              <div class="sub-comment-commentee-info" @click="access(subComment.commenteeInfo.account)">
                                <font size="2"><b>{{subComment.commenteeInfo.username}}</b></b></font>
                              </div>

                            </div></el-col>

                          </el-row>
                        </div>
                        <span class="sub-comment-container">
                          <p>{{subComment.content}}</p>
                        </span>
                        <div class="sub-comment-info" style="margin-top:10px">

                          <el-row>
                            <el-col :span="10"><div class="grid-content bg-purple" >
                              <span class="sub-comment-time" >
                                <font size="4"><b> {{subComment.time}}</b></b></font>

                              </span>
                            </div></el-col>
                            <el-col :span="4"><div class="grid-content bg-purple-light">
                              <span class="sub-comment-like">
                                <span>
                                <font size="2"><b>{{subComment.likes}}</b></b></font>

                                <el-button type="text" @click="like(subComment,2)"><font size="2"><b>点赞</b></b></font></el-button>
                                </span>

                              </span>
                            </div></el-col>
                            <el-col :span="4"><div class="grid-content bg-purple">
                               <span class="sub-comment-button" >
                                 <el-button type="text" @click="callReplyBox(comment.uid,subComment.commentorInfo)">
                                   <font size="2"><b>回复</b></b></font>
                                 </el-button>



                              </span>
                            </div></el-col>

                          </el-row>



                        </div>

                      </div>
                    </div>
                  </div>
                  <el-pagination class="pagination-sub-comment"
                                 background
                                 layout="prev, pager, next"
                                 :total="1000"
                                 @current-change="getSubComments($event,comment.uid)">
                  </el-pagination>
                </el-collapse-item>
              </el-collapse>
            </div>


          </div>
          <el-divider></el-divider>
        </div>
        <el-pagination id="pagination-comment"
                background
                layout="prev, pager, next"
                :total="1000"
                 @current-change="getComments(blog.uid,$event)">
        </el-pagination>
      </div>
    </el-main>
    <el-footer>

      <div class='footer'>
        <span class="scroll"></span>
        <!-- <span id="star-five" class="scroll"></span> -->
        <el-divider></el-divider>
        <span>法律声明</span>
        <el-divider direction="vertical"></el-divider>
        <span>友情链接</span>
        <el-divider direction="vertical"></el-divider>
        <span @click="drawer = true">联系我</span>
        <br/>
        <br/>
        <span class="copyright">版权所有</span>
        <el-drawer
                title="联系我"
                :visible.sync="drawer"
                :direction="direction"
        >
          <p class="info" style="padding:30px">
            <i class="el-icon-phone"></i>电话：18822299999<br/>
            <i class="el-icon-message"></i>邮箱：18822299999@163.com<br/>
          </p>
        </el-drawer>
      </div>
    </el-footer>
  </el-container>
</div>

</body>

<script>
    new Vue({
      el: '#app',
      methods: {
      handleSelect(key, keyPath) {
        console.log(key, keyPath);
      },
      handleClose(done) {
        this.$confirm('确认关闭？')
          .then(_ => {
            done();
          })
          .catch(_ => {});
      },

      //comment

      like(obj,type)
      {


          axios({
                method:'post',
                url:'/user/like',
                data:{
                  uid:obj.uid,
                  type:type
                }
            }).then(resp=>{

            });

           obj.likes++;

      },





      //navigation-bar
      accessPersonalPage(){
           location.href="Information.html";
      },

      backToMainPage(){
          location.href="mainPage.html";
      },

      logout(){
           axios({
                method:'post',
                url:'/user/logout'
            }).then(resp=>{
                document.location="Login.html";
            });
      },


      //comment

        callReplyBox(uid,info){
        this.dialogVisible = true;

        this.commentee.name=info.username;

        this.commentee.account=info.account;

        this.receiverUid=uid;

      },

       reply()
          {

            this.dialogVisible = false;
            this.$message({
                      message: '已发送，等待审核',
                      type: 'success'
                });
            axios({
                method:"post",
                url:'/user/sendComment',
                data:{
                   content:this.textareaToComment,
                   receiver:this.receiverUid,
                   commentee:this.commentee.account,
                   type:0
                }
            }).then(resp=>{

              if(resp.data==0)
              {
                    this.$message({
                    showClose: true,
                    message: '内容违规，发布失败！',
                    type: 'error'
                  });

              }
              else{
                this.$message({
                      message: '发布成功！',
                      type: 'success'
                });
              }

              location.reload();

            });
          },

      send(){
          this.$message({
                          message: '已发送，等待审核',
                          type: 'success'
                    });
            axios({
                method:"post",
                url:'/user/sendComment',
                data:{
                 content:this.textareaToBlog,
                 receiver:this.blog.uid,
                 commentee:this.blogger.account,
                 type:1
                }
            }).then(resp=>{
               if(resp.data==0)
              {
                    this.$message({
                    showClose: true,
                    message: '内容违规，发布失败！',
                    type: 'error'
                  });
              }
              else{
                this.$message({
                      message: '发布成功！',
                      type: 'success'
                });
              }

              location.reload();

            });
          },



          access(account){
            location.href="BloggerPage.html?account="+account;
          },

          getSubComments(page,uid){


              axios({
                method:"post",
                url:'/user/getSubComments',
                data:{
                  uid:uid,
                  page:page
                }
            }).then(resp=>{
                for(var i=0;i<this.comments.length;i++)
                {



                  if(this.comments[i].uid==uid)
                  {


                        this.comments[i].subComments=resp.data;

                        break;
                  }
                }

            });
          },




          getComments(uid,page){
            axios({
                method:"post",
                url:'/user/getComments',
                data:{

                  uid:this.blog.uid,
                  page:page
                }
            }).then(resp=>{


                let count=0;
                for(let i=0;i<resp.data.length;i++)
                {
                  this.comments[i].commentorInfo=resp.data[i].commentorInfo;
                  this.comments[i].content=resp.data[i].content;
                  this.comments[i].likes=resp.data[i].likes;
                  this.comments[i].time=resp.data[i].time;
                  this.comments[i].uid=resp.data[i].uid;
                  count++;
                }

                for(let i=9;i>=count;i--)
                {
                  this.comments[i].uid='';
                }





            });
          },



         //get necessary info
          getInfo(){
          let reg = new RegExp("(^|&)" + "uid" + "=([^&]*)(&|$)");
          let r = window.location.search.substr(1).match(reg);
          if (r != null)
          {
              this.blog.uid=unescape(r[2]);
              this.getComments(this.blog.uid,1);
              this.getUserInfo();
              axios({
                  method:"post",
                  url:'/user/getBlog',
                  data:{
                      uid:unescape(r[2])
                  }
              }).then(resp=>{
                  this.blog=resp.data;

                  $("#content").load(this.blog.content);




              });
          }

        },

        getUserInfo(){
          axios({
                  method:"post",
                  url:'/user/userInfo',

              }).then(resp=>{
                  this.user=resp.data;
              });

          axios({
                  method:"post",
                  url:'/user/getBloggerInfoByUidOfBlog',
                  data:{
                    uid:this.blog.uid
                  }
              }).then(resp=>{
                  this.blogger=resp.data;
              });
      }
    },



      mounted(){

          this.getInfo();






        },
      data: function() {


        return {

        //reply-box:
        textareaToComment:'',
        receiverUid:122,
        commentee:{
          name:'',
          account:''
        },


        //footer
        drawer:false,
        direction: 'rtl',

        //navigation-bar
        activeIndex: '0',


        visible: false,
                  dialogVisible: false,



                  blog:{
                    title:"none",
                    uid:98,
                    comment:12,
                    likes:0,
                    content:'bunfortest.html'
                  },

                  blogger:{
                    name:"",
                    account:""
                  },

                  user:{
                  avatar:"user1-avatar.png",
                  name:"",
                  account:""
                  },

              textareaToBlog:'',
              comments:
              [
                {
                    commentorInfo:{
                      username:'',
                      avatar:'',
                      account:''
                    },
                    content:'',
                    time:'',

                    likes:'',
                    uid:'',
                    subComments:[
                      {
                        commentorInfo:{
                          username:'',
                          avatar:'',
                          account:''
                        },
                        commenteeInfo:{
                          username:'',
                          avatar:'',
                          account:''
                        },

                        content:'',
                        time:'',
                        like:'',
                        uid:''

                      }
                    ]
                },
                {
                    commentorInfo:{
                      username:'',
                      avatar:'',
                      account:''
                    },
                    content:'',
                    time:'',

                    likes:'',
                    uid:'',
                    subComments:[]
                },
                {
                    commentorInfo:{
                      username:'',
                      avatar:'',
                      account:''
                    },
                    content:'',
                    time:'',

                    likes:'',
                    uid:'',
                    subComments:[]
                },
                {
                    commentorInfo:{
                      username:'',
                      avatar:'',
                      account:''
                    },
                    content:'',
                    time:'',

                    likes:'',
                    uid:'',
                    subComments:[]
                },
                {
                    commentorInfo:{
                      username:'',
                      avatar:'',
                      account:''
                    },
                    content:'',
                    time:'',

                    likes:'',
                    uid:'',
                    subComments:[]
                },
                {
                    commentorInfo:{
                      username:'',
                      avatar:'',
                      account:''
                    },
                    content:'',
                    time:'',

                    likes:'',
                    uid:'',
                    subComments:[]
                },
                {
                    commentorInfo:{
                      username:'',
                      avatar:'',
                      account:''
                    },
                    content:'',
                    time:'',

                    likes:'',
                    uid:'',
                    subComments:[]
                },
                {
                    commentorInfo:{
                      username:'',
                      avatar:'',
                      account:''
                    },
                    content:'',
                    time:'',

                    likes:'',
                    uid:'',
                    subComments:[]
                },
                {
                    commentorInfo:{
                      username:'',
                      avatar:'',
                      account:''
                    },
                    content:'',
                    time:'',

                    likes:'',
                    uid:'',
                    subComments:[]
                },
                {
                    commentorInfo:{
                      username:'',
                      avatar:'',
                      account:''
                    },
                    content:'',
                    time:'',

                    likes:'',
                    uid:'',
                    subComments:[]
                },

              ]
         }
      }


    });

    </script>

</html>