<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hust310.SkillsMaster.mapper.BlogsMapper">

    <resultMap id="BaseResultMap" type="com.hust310.SkillsMaster.domain.Blogs">
            <id property="uid" column="uid" jdbcType="VARCHAR"/>
            <result property="owner" column="owner" jdbcType="INTEGER"/>
            <result property="time" column="time" jdbcType="TIMESTAMP"/>
            <result property="like" column="like" jdbcType="INTEGER"/>
            <result property="comment" column="comment" jdbcType="INTEGER"/>
            <result property="state" column="state" jdbcType="OTHER"/>
            <result property="content" column="content" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        uid,owner,time,
        like,comment,state,
        content
    </sql>
</mapper>
