<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hust310.SkillsMaster.mapper.TestMapper">

    <resultMap id="BaseResultMap" type="com.hust310.SkillsMaster.domain.Test">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="a" column="a" jdbcType="INTEGER"/>
            <result property="b" column="b" jdbcType="TIMESTAMP"/>
            <result property="c" column="c" jdbcType="OTHER"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,a,b,
        c
    </sql>
</mapper>
